language: generic

sudo: required
services:
  - docker

before_install:
  - docker build -t davidlacho/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true davidlacho/docker-react npm run test